@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvenirNext';
    src: url('/src/assets/fonts/AvenirNextCyr-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'WorkSansFont';
    src: url('/src/assets/fonts/WorkSans-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/WorkSans-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
     font-family: 'WorkSansFontBold';
     src: url('/src/assets/fonts/WorkSans-SemiBold.woff2') format('woff2'),
          url('/src/assets/fonts/WorkSans-SemiBold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
   }