.dashboard {
  padding: 24px;

  .header {
    h1 {
      font-size: 24px;
      color: #333;

      @media (max-width: 1024px) {
        font-size: 22px; /* Slightly smaller for tablets */
      }

      @media (max-width: 768px) {
        font-size: 20px; /* Smaller for smaller tablets */
      }

      @media (max-width: 480px) {
        font-size: 18px;
        text-align: center; /* Center-align on small screens */
      }
    }
  }
  
}

.dashboardWrapper {
  display: flex;
  flex-direction: column; /* Default for desktop */

  @media (max-width: 1024px) {
    flex-direction: row-reverse; /* Optional adjustment for tablets */
  }

  @media (max-width: 768px) {
    flex-direction: column; /* Stacked for smaller screens */
  }
}

.mainContentWrapper {
  display: flex;
  flex: 1;

  @media (max-width: 1024px) {
    flex-direction: row; /* Keep horizontal for tablets */
  }

  @media (max-width: 768px) {
    flex-direction: column; /* Stack sidebar and main content */
  }
}

.dashboardContent {
  flex: 1;
  padding: 24px;
  background-color: #FBFBFB;

  @media (max-width: 1024px) {
    padding: 20px; /* Adjust padding for tablets */
  }

  @media (max-width: 768px) {
    padding: 16px; /* Compact padding for smaller tablets */
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (max-width: 480px) {
    padding: 8px; /* Minimal padding for phones */
  }
}

.header {
  margin-bottom: 20px;

  @media (max-width: 1024px) {
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    margin-bottom: 12px;
  }

  @media (max-width: 480px) {
    margin-bottom: 10px;
    text-align: center;
  }
}

.stats {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(4, 1fr); /* Horizontal layout for desktop */
  margin-bottom: 20px;

  @media (max-width: 1024px) { 
    grid-template-columns: repeat(2, 1fr); /* 2 by 2 grid for tablets */
    // gap: 16px;
    margin-bottom: 16px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* Ensure the layout remains consistent on smaller tablets */
    gap: 12px;
    margin-bottom: 12px;
  }

  @media (max-width: 480px) { 
    grid-template-columns: 1fr; /* 1 by 4 column for mobile */
    gap: 10px;
    margin-bottom: 10px;
  }
}
